In [1]:
number1 = int(input('Enter first integer: '))

Enter first integer: 10

In [2]:
number2 = int(input('Enter second integer: '))

Enter second integer: 5

In [3]:
total = number1 + number2

In [4]:
print('The sum of', number1, 'and', number2, 'is', total)

The sum of 10 and 5 is 15

In [8]:
grade = 85

In [10]:
if grade >= 60:
    print('Passed')

Passed

In [13]:
grade = 55
if grade >= 60:
    print('Passed')

In [14]:
grade = 80

In [17]:
If grade >= 90
print('A')
else:
    print('Not A or B')
    elif grade >= 80:

SyntaxError: invalid syntax (<ipython-input-17-9f0019680ce0>, line 1)

In [24]:
grade = 100

In [33]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Passed

In [34]:
grade = 55

In [37]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
    print('You must take this course again')

Failed
You must take this course again

In [38]:
product = 3

In [39]:
while product <= 50:
    product = product * 3

In [40]:
product

81

In [41]:
product = 7

In [43]:
while product <= 1000:
    product = product * 7

In [44]:
product

2401

In [46]:
for character in 'Presley':
    print(character, end=' ')

P r e s l e y

In [47]:
for character in 'Royals':
    print(character, end=' ')

R o y a l s

In [48]:
total = 0

In [50]:
for number in range(1000001):
    total = total + number

In [51]:
total

500000500000

In [54]:
for counter in range (15):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [55]:
x = 12

In [56]:
x **= 2

In [57]:
x

144

In [58]:
total = 0

In [60]:
for number in [1,2,3,4,5]:
    total += number # add number to total and store in number

In [61]:
total

15

In [62]:
number1 = 7

In [63]:
number2 = 5

In [64]:
print(f'{number1} times {number2} is {number1 * number2} ')

7 times 5 is 35

In [65]:
for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [66]:
for number in range(10, 0, 2):
    print(number, end= ' ')

In [67]:
for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

In [68]:
total = 0

In [69]:
for number in range(2, 101, 2):
    total += number

In [70]:
total

2550

In [72]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [73]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

In [74]:
gender = 'Female'

In [78]:
age = 70

In [79]:
if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

In [80]:
semester_average = 83

In [81]:
final_exam = 95

In [83]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [84]:
i = 1

In [85]:
j = 2

In [86]:
k = 3

In [87]:
m = 2

In [88]:
(i >= 1) and (j < 4)

True

In [89]:
(m <= 99) and (k < m)

False

In [90]:
(j >= i) or (k == m)

True

In [91]:
(k + m < j) or (3 - j >= k)

False

In [92]:
not (k > m)

False